.gal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 60px;
  gap: 30px;
}

.gal img {
  height: 300px;
  width: 400px;
  object-fit: contain;
  object-position: center;
  margin: 10px;
}

/* .gal {
  height: 70%;
    background-image: url("https://free-images.com/lg/cf5b/floor_tiles_hemp_bag.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: green;
    text-align: center;
} */

/* CreationPage.css */
