@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  font-family: Roboto Mono, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}
html,
body {
  height: 100%;
  overflow-x: hidden;
}

h2 {
  text-align: center;
  font-size: 1.3rem;
}

ul {
  list-style: none;
}

.nav-link {
  position: sticky;
  top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  z-index: 10;
  margin: 15px 5px;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  backdrop-filter: blur(5px);
}

.nav-link a {
  text-decoration: none;
  color: #37485d;
  font-size: 1.2rem;
  font: x-large;
  text-align: center;
  padding: 5px 10px;
  transition: color 0.3s, box-shadow 0.3s;
}

.nav-link a:hover {
  box-shadow: 0 0 0 5px #387b2b1a, 0 0 0 10px #67857c;
}

/* FavPage styling*/
.page-container {
  width: 100%;
  max-width: min(900px, 90%);
  margin: 30px auto;
  padding: 20px;
  background-color: rgb(90, 128, 152);
}
.page-container h1 {
  text-align: center;
  font-size: 4rem;
  background: -webkit-linear-gradient(#7f7b841a, #1c2b4d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0e012c1a;
}

.page-container.with-content {
  background-image: url("https://free-images.com/lg/f4e0/marble_texture_background_png_13.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.page-container.no-content {
  background-color: #f0f0f0;
}
.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #333343;
}

.favorites-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
  border: 10px solid #3f496c;
  border-image: linear-gradient(to right, #3f496c, #475588) 1;
  border-style: double;
  justify-items: center;
  align-items: center;
}

/* Each tile */
.favorite-tile {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1 / 1;
  transition: transform 0.3s;
  border: 10px double #3f496c;
  box-shadow: 0 2px 4px #0000001a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.favorite-tile img {
  border: solid 6px #475588;
  border-style: double;
  width: 90%;
  height: 100%;
  object-fit: contain;
}

.favorite-tile:hover {
  transform: scale(1.05);
}

.favorite-tile-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #aa9e9e;
  padding: 10px;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3);
}

.favorite-tile h2 {
  font-size: 1.3rem;
  margin-bottom: 2px;
  color: white;
}

.favorite-tile blockquote {
  margin: 2px 0;
  font-size: 0.6rem;
  color: white;
}

.favorite-tile a {
  display: block;
  color: #596cf7;
  text-decoration: none;
  margin: 2px 0;
  font-size: 0.7rem;
  font-weight: bolder;
  padding: 2px 5px;
  transition: background-color 0.5s, color 0.5s;
}
.favorite-tile a:hover {
  background-color: rgb(95, 95, 138);
  color: #ffffff;
}
/* Remove button styling */
.remove {
  background-color: #eb8245;
  width: min-content;
  font-size: 0.5rem;
  text-align: center;
  line-height: 10px;
  color: #ffffff;
  border: none;
  padding: 0;
  border-radius: 0;
  font-size: 0.7rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1px;
}

.remove:hover {
  background-color: #a34343;
}

.creation-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorites-grid {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
}

.preview-tile,
.favorite-tile {
  width: 45%;
}

.preview-tile {
  border: 2px solid #ccc;
  padding: 10px;
  margin: 10px;
}

.form-container {
  padding: 10px;
  margin: 10px;
}
.creation-page {
  h1 {
    font-size: 2rem;
    color: rgb(65, 64, 158);
  }
  p {
    font-size: 1rem;
  }
}

/* form {
  display: flex;
  flex-direction: column;
  margin: 5px;
} */

@media (max-width: 768px) {
  .page-container h1 {
    font-size: 1.5rem;
  }
  .page-container blockquote {
    font-size: 0.5;
  }
  .page-container h2 {
    font-size: 0.7rem;
  }
  .page-container p {
    font-size: 0.5rem;
  }
  .nav-link a {
    font-size: 0.4rem;
  }
}

@media (min-width: 768px) {
  .favorites-grid {
    grid-template-columns: repeat(2, minmax(150px, 1fr)); /* 2 columns layout */
  }
}

/* Media query for screens wider than 1024px */
@media (min-width: 1024px) {
  .favorites-grid {
    grid-template-columns: repeat(3, minmax(150px, 1fr)); /* 3 columns layout */
  }
}
