/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"); */

* {
  font-family: Roboto Mono, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}
html,
body {
  height: 100%;
  overflow-x: hidden;
}

/* HOME PAGE*/

.home {
  background: linear-gradient(
      to bottom,
      rgba(244, 242, 242, 0.7),
      rgba(92, 103, 106, 0.7)
    ),
    url("https://free-images.com/md/ce1f/bigot_glazed_tiles_floor.jpg")
      no-repeat center center / cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 0;
  max-width: min(900px, 90%);
  margin-inline: auto;
}
.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
/* 

   */
.home h1 {
  font-size: 4rem;
  background: -webkit-linear-gradient(#373232, #35f70e1a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #63c6501a;
}
.home h2 {
  font-size: 2.5rem;
  background: -webkit-linear-gradient(#363030, #afff9f7a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0505051a;
  margin: 1rem 0;
}

.home p,
li {
  font-size: 1.2rem;
  background: -webkit-linear-gradient(#4b70451a, #2e2929);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #171010b3;
}

.rules {
  list-style: square;
}
.rules li {
  text-align: left;
  margin-left: 4rem;
}

/* Navbar styling*/
.nav-link {
  position: sticky;
  top: 10px;
  width: 99%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  margin: 15px 5px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  z-index: 10;
}

.menu-button {
  display: none;
}
.nav-bar a {
  text-decoration: none;
  color: #37485d;
  font-size: 1.2rem;
  font: x-large;
  text-align: center;
  padding: 5px 10px;
  transition: color 0.3s, box-shadow 0.3s;
}
.nav-bar a:hover {
  box-shadow: 0 0 0 5px #387b2b1a, 0 0 0 10px #67857c;
}

.last-section {
  z-index: 10;
}
/* FOOTER //////////////////////////////*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f1f1f1;
  text-align: center;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.about-container p {
  font-size: 0.4rem;
  margin-bottom: 10px;
}

.about-container h4 {
  font-size: 0.6rem;
  color: #37485d;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin: 5px 0;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 0 1rem;
}

.icon {
  font-size: 2rem;
  color: #0a66c2;
  transition: color 0.3s;
}

a:hover .icon {
  color: #0056b3;
}
.artwork-tile {
  width: 300px;
}
/* Media Queries for responsiveness */

@media (max-width: 1024px) {
  .nav-link {
    display: flex;
  }

  .menu-button {
    display: none;
  }
  .footer {
    padding: 60px;
  }
  .about-container p {
    font-size: 0.8rem;
  }
  .about-container h4 {
    font-size: 1rem;
  }

  .avatar {
    width: 50px;
    height: 50px;
  }
  .icon {
    font-size: 1.5rem;
  }
}

@media (min-width: 769px) {
  .nav-link {
    display: flex;
  }

  .menu-button {
    display: none;
  }
}

@media (max-width: 768px) {
  .home h1 {
    font-size: 1.7rem;
  }
  .home h2 {
    font-size: 1.5rem;
  }
  .home p,
  li {
    font-size: 0.9rem;
  }

  .nav-link {
    display: none;
    flex-direction: column;
    background-color: rgba(152, 148, 148, 0.303);
    position: absolute;
    list-style: none;
    left: 1.5rem;
    margin-top: 2.5rem;
    width: 14rem;
    z-index: 101;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }

  .nav-link.visible {
    display: flex; /* Show nav when visible class is added */
  }
  .nav-button a {
    font-size: 1rem;
    padding: 0;
    transition: color 0.3s, box-shadow 0.3s;
  }
  .nav-bar ul {
    gap: 0.5rem;
  }
  .nav-bar a:hover {
    box-shadow: 0 0 0 4px #387b2b1a, 0 0 0 4px #67857c;
  }
  .menu-button {
    display: block; /* Show the toggle button */
    color: white;
    background: none;
    background-color: rgb(69, 101, 22);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bolder;
    border: solid 1px rgb(50, 112, 59);
    margin-left: 1rem;
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
  }

  .about-container {
    flex-direction: row;
    align-items: center;
    text-align: left;
  }

  .about-container p {
    font-size: 0.6rem;
  }

  .about-container h4 {
    font-size: 0.8rem;
  }

  .avatar {
    width: 40px;
    height: 40px;
  }

  .icon {
    font-size: 1.5rem;
  }
}
