.gal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 60px;
  gap: 30px;
}

.gal-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
  padding: 20px;
  align-items: center;
}
.gal-grid-container:nth-child(odd) {
  background-color: #b5bfa5;
}

.gal-grid-container:nth-child(even) {
  background-color: rgb(171, 161, 188);
}
.gal-grid-img {
  text-align: center;
}
.gal-grid-img img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
  margin: 10px;
}
.gal-text-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.gal-text-grid button,
.gal-text-grid span,
.gal-text-grid a {
  margin: 5px 0;
}

.gal-text-grid button {
  text-align: center;
  width: 80px;
  height: 80px;
}
.gal-text-grid button:hover {
  background-color: #4796a6;
}
.details {
  color: #000000;
  text-decoration: overline;
}
.details:hover {
  transition: transform 0.3s;
  font-weight: bolder;
  background: -webkit-linear-gradient(#0000001a, #ff6a6a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #a548481a;
}

.select {
  h1,
  h2,
  h3,
  blockquote {
    color: rgb(37, 107, 139);
    text-align: center;
    margin: 15px 0;
  }
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  p {
    font-size: 1rem;
  }
  blockquote {
    font-size: 0.8rem;
    font-style: oblique;
  }
  form {
  }
}

@media (max-width: 768px) {
  .gal-grid-container {
    grid-template-columns: 1fr;
  }

  .gal-grid-img,
  .gal-text-grid {
    margin: 0 auto;
  }
}
